/* 
  Background
*/

.AO,
.aeJ {
  background: #f2f2f2 !important;
}

.AO {
  padding: 3rem !important;
}



/* 
  Email list
*/

.zA {
  padding: 1rem !important;
  align-items: center !important;
  margin: 1rem auto;
  min-height: 3rem !important;
  background: #fff;
  /* -webkit-box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15) !important;
   box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15) !important; */
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.zA:first-child {
  margin-top: 0;
}

.zA>.PE.PF::before {
  left: 0 !important;
  width: 5px !important;
}

.zA>td.oZ-x3 {
  padding: 0 10px 0 20px !important;
}



/* 
  Email Checkbox
*/

td.oZ-x3::before {
  bottom: initial !important;
  top: initial !important;
  left: -7px !important;
  transition: all .3s ease;
}



/* 
  Toobar options
*/

.bqY {
  margin: 0 6px 0 !important;
}

.aia .bqY {
  margin: 0 !important;
  margin-right: 6px !important;
}

.yO {
  background: #eaeaea !important;
}



/* 
  Vertical view
*/

.no {
  margin-top: 1rem !important;
}

.no .nn:nth-child(2) {
  background: #e8e8e8 !important;
}

.age {
  background: #f2f2f2 !important;
}



/* 
  Scroll Bar
*/

::-webkit-scrollbar {
  width: 3px !important;
  border-radius: 50px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
  border-radius: 50px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888 !important;
  border-radius: 50px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555 !important;
  border-radius: 50px !important;
}